
<h2><%= @name.capitalize %></h2>
<h4>Email:</h4>
  <p><%= @email %></p>
  <h4>Interests:</h4>
  <p><%= @interests.join(", ") %></p>
  <h4>Other users:</h4>
  <p><% @others.each do |name| %>
    <a href="<%= name %>"><%= name %></a>
    <% end %>
  </p>
  

